@model MiningOps.Entity.Payment

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentReference)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
